<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1><%=farm.name%></h1>
    <h1>Add a Product</h1>
    <form action="/farms/<%=farm._id%>/products" method="POST">
        <label for="name">Product name</label>
        <input type="text" name="name" id="name" placeholder="Product Name">
        <label for="price">Unit Price</label>
        <input type="number" name="price" id="price" placeholder="Product Price">

        <label for="categories">Select Category</label>

        <select name="categories" id="categories">
            <% for (let category of categories) {%>
                <option value="<%= category%>"><%=category%></option>
                <% } %>
        </select>
        <br>
        <br>
        <button>Submit</button>
    </form>
    
    <br>
   <a href="/farms/<%=farm._id%>">Back to Farm</a>
   
</body>

</html>